#title{
  text-align: center;
  font-size: 2em;
}
#total-revenue{
  border: solid black 0.75px;
  border-radius: 1px;
  width: 10em;
  height: 1em;
  font-family: sans-serif;
  background-color: white;
}
body{
  height: 100dvh;
  background-image: linear-gradient(to bottom right, yellow, #ff5d52 , #d40000);
  caret-color: #d40000;
  accent-color: #d40000;
}
#content{
  width: fit-content;
  height: fit-content;
  margin: auto;
  margin-top: 5dvh;
  background-color: rgba(255, 255, 255, 0.5);
  border: solid black 1px;
  border-radius: 10px;
  box-shadow: 0 0 50px 5px orange;
  padding: 0.25em;
}
.content{
  font-size: 3.5dvh;
}